.curent{
    width: 200px;
    padding-left:40px;
    border-radius: 5px;
    background-color:rgb(197, 143, 248);
    margin-bottom: 40px;
    padding: 20px 5px;
    cursor: pointer;
}

.box{
    
    background-color:rgb(255, 0, 0);
}

.quastion{
    font-size: 25px;

}

.red{
    background-color: rgb(94, 229, 16);
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
}

.tittle{
    background-color: cornflowerblue;
    font-size: 25px;
}

.curQuestion{
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.numberQuastion{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}
.someVariable{
    padding-left: 40px;
}